<div class="row">

  <div class="col-md-4">
    <%= image_tag @movie.movie_img.url(:movie_show), class: "box-s" %>
  </div>

  <div class="col-md-8">
    <h1><%= @movie.title %></h1>
    <h4>Genre: <%= @movie.genre.name %></h4>
    <p><%= @movie.description %></p>
    <p>Overall Rating</p>
    <div class="average-star-rating" data-score=<%= @average_review %>></div>
    <div class="avg-review">Based on <%= @movie.reviews.count %> reviews</div>
    
    <div>
      <% if logged_in? && @movie.user_id == current_user.id %>
        <%= link_to "Edit", edit_movie_path(@movie), class: "btn btn-success" %>
        <%= link_to "Delete", movie_path(@movie), method: :delete, data: {confirm: "Are you sure you want to delete this movie?"}, class: "btn btn-danger" %>
      <% end %>
      <%= link_to "View All Movies", root_path, class: "btn btn-primary" %>
    </div>

    <div class="reviews">
      <h4>Reviews</h4>
      <hr>
      <div>
        <% if @movie.reviews.length == 0 %>
          <p>No reviews yet. Add one!</p>
        <% else %>
          <%= render @movie.reviews %>
        <% end %>
        <% if logged_in? %>
          <%= link_to "Add Review", new_movie_review_path(@movie) %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  $('.star-rating').raty({
    readOnly: true,
    score: function() {
      return $this.attr('data-score');
    },
    path: '/assets'
  });
</script>

<script>
  $('.average-star-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>